<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.colVis.min.js"></script>
  </head>

  <body>
    <table id="myTable">
      <thead>
        <tr>
          <th>RecordId</th>
          <th>PlayerName</th>
          <th>PlayerJersey</th>
          <th>PlayerAge</th>
          <th>TeamId</th>
          <th>TeamName</th>
          <th>TeamPlace</th>
          <th>TotalPerson</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>
  </body>

  <script>
    var currtbl = $(document).ready(function () {
      $("#myTable").DataTable({
        serverSide: true,
        processing: false,
        searching: true,
        ordering: true,
        paging: true,
        // serverMethod: "get",
        // dom: "Bfrtip",
        buttons: ["colvis"],

        lengthMenu: [
          [5, 15, 20, 25, 50, 100, 1844674407370955161],
          [5, 15, 20, 25, 50, 100, "All"],
        ],
        ajax: {
          url: "/showdata",
        },

        columns: [
          { data: "id" },
          { data: "playerName" },
          { data: "playerNo" },
          { data: "playerAge" },
          { data: "team.id" },
          { data: "team.teamName" },
          { data: "team.teamPlace" },
          { data: "team.totalPerson" },
        ],
      });
    });

    async function fetching() {
      let ans = await fetch("/showData");

      let res = ans.json();

      var t = $("#myTable").DataTable();
      t.rows.add(res);
    }

    // fetching();
  </script>
</html>
